.venv
__pycache__/
*.pyc
instance/
.env
.DS_Store
*.sqlite3
*.log
.idea/
.vscode/
*.iml
*.swp
*.swo
migrations/

# Build directories and artifacts
dist/
build/
*.exe
*.app
*.dmg
*.tar.gz
*.zip

# PyInstaller specific
*.manifest